.project
.classpath
.settings/
/bin/
.sonar
/target
.factorypath
.directory

.idea
*.iml
*/rebel.xml
*/nb-configuration.xml
.vscode
rebel.xml
*.class
/node_modules
package-lock.json

generated/
/.DS_Store
node_modules/.bin/tsc
